* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:work sans;
}
/* shared text styles start  */
.text-linear-gradient{
    font-size:4rem;
    font-weight:700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-linear-gradient-2{
    font-weight:700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-p{
    font-size:0.8rem;
    font-weight:500;
    margin-bottom:1rem;
    color:#535c64;
}
.btn-primary-1{
    border:none;
    padding:0.7rem 1.5rem;
    background-color:#F948B2;
    border-radius:40px;
    font-weight:600;
    color:white;
}
.btn-primary-2{
    border:none;
    padding:0.7rem 1.5rem;
    background-color:#4EC5F7;
    border-radius:40px;
    font-weight:600;
    color:white;
}
/* shared text styles end  */

/* navbar styles start  */
nav{
    width:100%;
    height:10vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:2rem;
    box-shadow:2px 2px 10px rgba(128, 128, 128, 0.281);
    transition:all 0.4s ease;
}
nav .nav-img-and-text{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
}
nav img{
    width:3rem;
    height:2rem;
}
nav .header-title{
    color:#ff42a5;
}
nav h3{
    font-size:1.5rem;
    font-weight:700;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin-right:2rem;
}
nav ul li a{
    text-decoration:none;
    color:#3C354F;
    font-weight:500;
    font-size:1rem;
}
nav .header-button{
    border:none;
    padding:0.5rem 1.5rem;
    font-weight:500;
    color:#3C354F;
    background-color:rgba(11, 2, 35, 0.10);
    border-radius:5px;
}
nav .header-button i{
    margin-right:0.5rem;
    margin-left:0.5rem;
}
/* navbar styles end */

/* header banner styles start  */
.header-banner{
    max-width:800px;
    margin:2rem auto 0;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all 0.4s ease;
    gap:5rem;
}
.header-banner-text{
    width:50%;
    height:auto;
    background:url("images/group14.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}
.header-banner-text h2{
    font-size:2rem;
    font-weight:500;
    color:#0B0223;
}
.header-banner-image{
    width:100%;
    
}
.header-banner-image img{
    width:100%;
}
/* header banner styles end  */

/* we are gamer section styles start  */
.we-are-gamer-container{
    display:flex;
    justify-content:center;
    align-items:center;
    max-width:800px;
    margin:2rem auto 0;
    transition:all 0.4s ease;
}
.we-are-gamer-text{
    text-align:right;
}
.we-are-gamer-text h2{
    font-size:1.5rem;
    margin-bottom:0.5rem;
}
.we-are-gamer-text p{
    font-size:0.8rem;
    font-weight:400;
}
.we-are-gamer-text h4{
    font-size:1rem;
    font-weight:500;
    color:#3C354F;
    margin-top:0.5rem;
}
.we-are-gamer-text h3{
    font-size:1.1rem;
    margin-top:0.5rem;
    color:#3C354F;
}
/* we are gamer section styles end  */

/* online games and funny videos section styles start  */
.funny-video-header-title{
    text-align:center;
    margin-top:4rem;
}
.online-game-and-funny-video-container{
    max-width:800px;
    display:flex;
    margin:0 auto;
    padding:1rem;
    gap:2rem;
}
.card{
    width:200px;
    height:250px;
}

.card img{
    width:100%;
    height:80%;
    transition:all 0.2s linear;
}
.card img:hover{
    border:2px solid #ff42a5;
    border-radius:1rem;
}
.card p{
    font-size:0.8rem;
    font-weight:500;
}
.bonus-card{
    width:100%;
    height:80%;
    background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.70)),url("images/rectangle7.png");
    background-size:contain;
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:2px solid 
    #ff42a5;
    border-radius:0.5rem;
}
.bonus-card i{
    font-size:1.5rem;
    transition:all 0.4s ease;
}
.bonus-card h6{
    color:#ff42a5;
    font-size:0.8rem;
    font-weight:500;
    margin-top:0.5rem;
}
/* online games and funny videos section styles end  */

/* play instantly section styles start */
.play-container{
    display:flex;
    max-width:800px;
    margin:0px auto;
    justify-content:center;
    align-items:center;
    transition:all 0.4s ease;
}
.play-text{
    text-align:right;
    margin-right:5rem;
}
.play-text p{
    font-size:0.8rem;
    margin-top:0.5rem;
    font-weight:400;
}
.play-image{
    width:300px;
    height:400px;
    background-image:url("images/rectangle55.png");
    background-repeat:no-repeat;
    background-size:contain;

}
.play-image img{
    width:150px;
    position:relative;
    right:35px;
    top:200px;
}
/* play-instantly section styles end  */

/* career section styles start */
.career-section{
    width:100%;
    height:auto;
    background-color: #ff42a5;
    transition:all 0.4s ease;
}
.career-container{
    display:flex;
    justify-content: center;
    align-items:center;
}
.career-text{
    text-align:justify;
    color:white;
    padding:3rem;
}
.career-text h1{
    font-size:2rem;
}
.career-text p{
    color:white;
    font-weight:400;
    margin-top:1rem;
}
.career-text button{
    border:none;
    padding:0.7rem 1.5rem;
    background-color:#ffffff;
    border-radius:40px;
    font-weight:600;
    color:#F948B2;
}
.career-subjects-and-place{
    display:flex;
    justify-content:space-between;
    margin-right:1rem;

}
.career-subjects-and-place h6{
    font-size:0.8rem;
    font-weight:600;
    margin-bottom:1rem;
}
/* career section styles end  */

/* games categories styles start  */
.game-categories-container{
    max-width:900px;
    height:30vh;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    justify-content: center;
    align-items: center;
    margin:0 auto;
    gap:1rem;
    transition:all 0.4s ease;
}
.categories-items{
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all 0.4s ease;
}
.categories-items:hover{
    border:2px solid #F948B2;
    color:#ff42a5;
    border-radius:5rem;
    padding:.3rem 0;
}
.categories-items img{
    width:2rem;
    margin-right:0.5rem;
}
.categories-items span{
    font-weight:600;
    font-size:0.7rem;
}
/* games categories styles end  */

/* footer section start  */
footer{
    width:100%;
    height:auto;
    background-color: #0B0223;
    overflow:hidden;
    transition:all 0.4s ease;
}
.header-title{
    color:#ff42a5;
}
.footer-header{
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    gap:0.5rem;
}
.footer-header img,h1{
    margin-top:2rem;
}
.footer-menu{
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer-menu a{
    text-decoration:none;
    color:white;
    font-size:0.9rem;
    font-weight:600;
    margin-right:2rem;
    margin-top:2rem;
}
.footer-icons{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:2rem;
    margin-top:2rem;
}
.footer-icons i{
    font-size:1.5rem;
}
.footer-terms-menu{
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer-terms-menu a{
    text-decoration:none;
    color:rgba(255, 255, 255, 0.734);
    font-size:0.7rem;
    font-weight:600;
    margin-right:2rem;
    margin-top:2rem;
}
.copyright-footer{
    text-align:center;
    margin-top:1rem;
}
/* responsive - tablet devices start*/
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:auto;
        margin:0;
        gap:2rem;
    }
    nav ul li {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-bottom:2rem;
    }
    .nav-img-and-text{
        display:inline;
    }
    .header-banner{
        width:100%;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        gap:0.5rem;
    }
    .header-banner-text{
        width:100%;
        text-align:center;
        
    }
    .header-banner-image img{
        width:100%;
        padding:5rem;
    }
    .we-are-gamer-container{
        flex-direction:column;
        width:100%;
    }
    .we-are-gamer-image img{
        width:100%;
    }
    .we-are-gamer-text{
        text-align:center;
    }
    .we-are-gamer-text h2{
        font-size:2rem;
    }
    .we-are-gamer-text button{
        margin-bottom:1rem;
    }
    .funny-video-header-title p{
        margin-top:0.5rem;
    }
    .online-game-and-funny-video-container{
        display:grid;
        grid-template-columns:repeat(2,1fr);
    }
    .card{
        width:100%;
        height:100%;
    }
    .card p{
        text-align:center;
        font-size:1rem;
        margin-top:0.5rem;
    }
    .bonus-card{
        background-size: cover;
    }
    .play-container{
        flex-direction:column;
    }
    .play-text{
        text-align:center;
        margin:0;
    }
    .play-text h1{
        font-size:2rem;
        margin-bottom:3rem;
    }
    
    .play-image{
        background-size: 80%;
        background-position: center;
    }
    .play-image img{
        position:relative;
        top:250px;
        right:20px;
    }
    .career-container{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:0;
    }
    .career-text button{
        margin-top:2rem;
    }
    .career-subjects-and-place{
        
        display:flex;
        justify-content: space-evenly;
        margin-top:1.5rem;
        gap:2rem;
    }
    .game-categories-container{
        grid-template-columns: repeat(3,1fr);
        padding:2rem;
        width:100%;
        height:auto;
        
    }
    .categories-items{
        display:flex;
        justify-content: center;
        align-items: center;
        transition:all 0.4s ease;
    }
    .categories-items:hover{
        border:2px solid #F948B2;
        color:#ff42a5;
        border-radius:5rem;
        padding:.3rem 0;
    }
    .categories-items span{
        font-weight:600;
        font-size:0.8rem;
    }
    /* footer responsive  */
    .footer-header{
        justify-content:center;
    }
    .footer-menu{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        justify-content:center;
        align-items:center;
    }
    .footer-menu a{
        text-align:center;
    }
    .footer-icons{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        justify-content:center;
        align-items:center;
    }
    .footer-icons i{
        text-align:center;
    }
}
/* responsive - mobile devices start*/
@media screen and (max-width: 576px) {
    nav{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        height:auto;
        margin:0;
        gap:2rem;
    }
    nav ul li {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-bottom:2rem;
    }
    .nav-img-and-text{
        display:inline;
    }
    .header-banner{
        width:100%;
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        gap:0.5rem;
    }
    .header-banner-text{
        width:100%;
        text-align:center;
        
    }
    .header-banner-image img{
        width:100%;
        padding:3rem;
    }
    .we-are-gamer-container{
        flex-direction:column;
        width:100%;
    }
    .we-are-gamer-image img{
        width:100%;
    }
    .we-are-gamer-text{
        text-align:center;
    }
    .we-are-gamer-text p{
        font-size:1rem;
        padding:2rem;
    }
    .we-are-gamer-text button{
        margin-bottom:1rem;
    }
    .funny-video-header-title p{
        font-size:0.7rem;
        margin-top:0.5rem;
    }
    .online-game-and-funny-video-container{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .card p{
        text-align:center;
        font-size:0.7rem;
        margin-top:0.5rem;
    }
    
    .bonus-card{
        background-size: cover;
    }
    .play-container{
        flex-direction:column;
    }
    .play-text{
        text-align:center;
        margin:0;
    }
    .play-image{
        background-size: 80%;
        background-position: center;
        margin:0;
    }
    .play-image img{
        position:relative;
        top:250px;
        right:20px;
    }
    .career-container{
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding:0;
    }
    .career-text button{
        margin-top:2rem;
    }
    .career-subjects-and-place{
        
        display:flex;
        justify-content: space-evenly;
        margin-top:1.5rem;
        gap:2rem;
    }
    .career-image img{
        width:100%;
    }
    .game-categories-container{
        grid-template-columns: repeat(3,1fr);
        padding:2rem;
        width:100%;
        height:auto;
        
    }
    .categories-items{
        display:flex;
        justify-content: center;
        align-items: center;
        transition:all 0.4s ease;
    }
    .categories-items:hover{
        border:2px solid #F948B2;
        color:#ff42a5;
        border-radius:5rem;
        padding:.3rem 0;
    }
    .categories-items span{
        font-weight:600;
        font-size:0.5rem;
    }
    /* footer responsive  */
    
    .footer-header{
        justify-content:center;
    }
    .footer-menu{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        justify-content:center;
        align-items:center;
    }
    .footer-menu a{
        text-align:center;
    }
    .footer-icons{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        justify-content:center;
        align-items:center;
    }
    .footer-icons i{
        text-align:center;
    }
    .footer-terms-menu{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        justify-content:center;
        align-items:center;
    }
    .footer-terms-menu a{
        text-align:center;
    }
}

